.MainContainer{
    width: 100%;
    height: 100%;
    display: flex;
}

.ItemContainer{
    width: 100%;
    background-color: f3f3fe;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SearchBar{
    width: 100%;
    min-height: 6.5vh;
    background-color: whitesmoke;
    outline: 1px solid rgb(194, 196, 210);
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.searchInput{
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #e9e9ef;
    border-radius: 4px;
}
.searchInput input{
    width:100%;
    padding: 15px;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    font-size: 15px;
    
}
.searchInput svg{
    margin-left: 20px;
    margin-right: 5px;
    transform: scale(2.5);
    color: rgb(91, 91, 91);
    padding: 2.5px;
    padding-left: 3px;
    border-radius: 50%;
    transition: 0.1s;
    cursor: pointer;
}

.searchInput svg:hover{
    background-color: rgb(219, 219, 228);
    
}

.FilterOptionList{
    background-color: #e9e9ef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.08s;
    position: relative;
    z-index: 10;
}

.FilterOptionListActive{
    background-color: #1f1f38;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.08s;
    position: relative;
    z-index: 10;
}

.FilterOptionList svg{
    margin: 7px;
    margin-top: 8px;
    transform: scale(1.4);
}

.FilterOptionListActive svg{
    margin: 7px;
    margin-top: 8px;
    transform: scale(1.4);
}

.FilterOptionList label{
    pointer-events: none;
}

.FilterOptionList:hover{
    background-color: #dbdbe0;
}


.RecordItems{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.NewRecordButton{
    width: 87%;
    height: 50%;
    background-color: #cc3979;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

  
  .NewRecordButton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 500%;
    background-color: rgba(0, 0, 0, 0.2); /* Replace with your desired darker color */
    opacity: 0;
    transition: width 0.3s, height 0.3s, opacity 0.2s;
    pointer-events: none;
  }
  
  .NewRecordButton:hover::before {
    width: 200%;
    height: 500%;
    opacity: 1;
  }


.SidebarOptionsWithinContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: #e8e8f0;
    width: 15vw;
    border-right: 1px solid rgb(189, 189, 189);
    border-left: 1px solid rgb(189, 189, 189);
}


.SidebarButtons{
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
    color: #4b5586;
    font-weight: 500;
    font-size: 17px;
    transition: 0.08s;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.SidebarButtons svg{
    margin-right: 15px;
    transform: scale(1.2);
    margin-bottom: 2px;
}

.SidebarButtons:hover{
    background-color: rgb(172, 177, 203);
    color: #323958;
    border-radius: 5px;
    cursor: pointer;
}

.SidebarButtons:disabled{
    background-color: rgb(172, 177, 203);
    color: #323958;
    border-radius: 5px;
    cursor: pointer;
}